[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.18.1"
coverage = "5.3"

[packages]
Django = "==3.1.2"
django-extensions = "==3.0.9"

[requires]
python_version = "3.8"
